<a href="/purchase-info?id={{id}}" class="purchase-button">
	<div class="purchase-block">
		<div class="purchase-item">
			<span class="title">ID: {{id}}</span>
		</div>
		<div class="purchase-item">
			<span class="title">Товари</span>
			<span class="text">{{product.title}}</span>
		</div>
		<div class="purchase-item">
			<span class="title">Сумма замовлення</span>
			<span class="text">{{totalPrice}} грн</span>
		</div>
		<div class="purchase-item">
			<span class="title">Нараховані бонуси</span>
			<span class="text">{{bonus}} грн</span>
		</div>
	</div>
</a>