<main class="main">
	<section class="main__content playlist">
		{{#with data}}
			<ul class="track__list">
				{{#each tracks}}
				<li class="track">
					<img src="{{image}}" alt="{{name}}" class="track__image">
					<div class="track__content">
						<strong class="track__name">{{name}}</strong>
						<em class="track_author">{{author}}</em>
					</div>

					<form action="/spotify-track-add" method="POST">
						<input type="hidden" name="playlistId" value="{{../playlistId}}">
						<input type="hidden" name="trackId" value="{{id}}">
						<button type="submit">
							<img src="/svg/tabler_plus.svg" class="track))icon">
						</button>
					</form>
				</li>
				{{/each}}
			</ul>
		</div>
		{{/with}}
	</section>

</main>
